body {
	margin: 0;
	padding: 0;
	color: white;
	font-family: sans-serif;
}

/* color theme */
.hidden {
	opacity: 0.5;
	overflow: hidden;
}
.invisible {
	visibility: none;
}

/* Timeline */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	height: 20vh;
	float: left;
	display: block;
}
/*
#animate-controls {
	color: black;
}*/

/* Day guide for timeline */
#timeline-guide {
	z-index: 10000;
}
/*.timeline-every-day {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.timeline-single-day {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}*/
.timeline-guide-element, #animate-controls {
	z-index: 1000;
	text-align: center;
	height: 5vh;
	background-color: rgb(48, 48, 48);
	color: white;
	overflow: hidden;
	margin-left: -2px;
	border-left: 2px solid white;
}
.timeline-guide-element > p, #animate-controls > p{
	margin: 1vh;
}


/* Treemap */
#treemap {
	width: 100vw;
	height: 65vh;
	position: relative;
}
.category-block {
	position: absolute;
	display: block;
	text-align: center;
	text-transform: capitalize;
}
.block-text {

}