body {
	margin: 0;
	padding: 0;
	color: white;
}

/* color theme */
.hidden {
	opacity: 0.5;
}

/* Timeline */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	height: 20vh;
	float: left;
	display: block;
}

/* Treemap */
#treemap {
	width: 100vw;
	height: 80vh;
	position: relative; 
}
.category-block {
	position: absolute;
	display: block;
	text-align: center;
	text-transform: capitalize;
}