<!doctype html>
<html lang="en" ng-app="timelogApp">
<head>
  <meta charset="utf-8">
  <title>2013 - Week 7</title>
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="js/treemap.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>
  <div id="treemap" ng-controller="entries.treemap">
    <div class="category-block categorial"  ng-repeat="block in blocks" ng-click="log.selectedCategory = block.name"  ng-class="{ 'hidden' : !(block.name == log.selectedCategory) }"style="
    background-color:{{ log.getColor(block.name) }}; 
    width:{{ block.width }}%;
    height:{{ block.height }}%;
    top:{{ block.top }}px;
    left:{{ block.left }}px;">
    <p class="block-text" style="font-size:{{ block.fontSize }}vw">
      {{ block.name }}
    </p>
    </div>
  </div>
  <div id="timeline" ng-controller="entries.timeline">
    <ul>
      <li class="entry categorial" ng-repeat="entry in log.entries" ng-click="log.selectedCategory = entry.Task" ng-class="{ 'hidden' : !(entry.Task == log.selectedCategory) }" style="
      width:{{ entry.DecDuration/log.totalDur*100 }}%; 
      background-color:{{ log.getColor(entry.Task) }};
      ">
    </li>
  </ul>
  </div>
</body>
</html>