<!doctype html>
<html lang="en" ng-app="timelogApp">
<head>
  <meta charset="utf-8">
  <title>2013 - Week 7</title>
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="js/treemap.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>
  <!-- animate shit -->
  <div id="animate-controls" ng-controller="entries.animator" >
    <p ng-if="!log.playing" ng-click="log.animate()">play week</p>
    <p ng-if="log.playing" ng-click="log.playing=false">stop playing week</p>
  </div>
  <div id="treemap" ng-controller="entries.treemap">
    <div class="category-block categorial"  ng-repeat="block in blocks" ng-click="log.filterByCategory(block.name)"   style="
    background-color:{{ log.getColor(block.name) }}; 
    width:{{ block.width }}%;
    height:{{ block.height }}%;
    top:{{ block.top }}px;
    left:{{ block.left }}px;">
    <p class="block-text" style="font-size:{{ block.fontSize }}vw">
      {{ block.name }}
    </p>
    </div>
  </div>
  <!-- select whole week -->
  <div id="timeline-guide" ng-controller="entries.timelineGuide">
    <ul>
      <li class="timeline-every-day timeline-guide-element" ng-click="log.selectAll()" ng-class="{ 'hidden' : (log.selectedDate) }" style="width:100%;" >
        <p>whole week</p>
      </li>
    </ul>
  </div>
  <!-- entries in this log -->
  <div id="timeline" ng-controller="entries.timeline">
    
    <ul>
      <li class="entry categorial" ng-repeat="entry in log.entries" ng-click="log.selectEntry(entry)" ng-class="{ 'hidden' : !entry.selected }" style="
      width:{{ entry.decDuration/log.totalDur*100 }}%; 
      background-color:{{ log.getColor(entry.Task) }};
      ">
    </li>
  </ul>
  </div>
  <!-- guide for days covered by this log -->
  <div id="timeline-guide" ng-controller="entries.timelineGuide">
    <ul>
      <li class="timeline-single-day timeline-guide-element" ng-repeat="section in sections" ng-click="log.filterByDate(section.date)" ng-class="{ 'hidden' : !(section.date == log.selectedDate) }" style="width:{{ section.durationMs/totalDurMs*100 }}%;" >
        <p>{{ section.date }}</p>
      </li>
    </ul>
  </div>
</body>
</html>